.recommended {
  flex: 0.8;
  /* border: 1px solid black; */
  padding: 20px 10px;
  padding-bottom: 0;
}
.recommended > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}
.recommended_videos {
  display: flex;
  flex-wrap: wrap;
}
